<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Open Sans', sans-serif;; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Instela Email Receipt</title>


<style type="text/css">
img {
max-width: 100%;
}
body {
-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em;
}
body {
background-color: #f6f6f6;
}
@media only screen and (max-width: 640px) {
  body {
    padding: 0 !important;
  }
  h1 {
    font-weight: 800 !important; margin: 20px 0 5px !important;
  }
  h2 {
    font-weight: 800 !important; margin: 20px 0 5px !important;
  }
  h3 {
    font-weight: 800 !important; margin: 20px 0 5px !important;
  }
  h4 {
    font-weight: 800 !important; margin: 20px 0 5px !important;
  }
  h1 {
    font-size: 22px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  .container {
    padding: 0 !important; width: 100% !important;
  }
  .content {
    padding: 0 !important;
  }
  .content-wrap {
    padding: 10px !important;
  }
  .invoice {
    width: 100% !important;
  }


  .page-header {
    position: relative;
    /*background: linear-gradient(180deg,$instela-hover, $instela-orange,  #f4876f);*/
    /*background: linear-gradient(105deg,#2d6c99,#69c0d3);*/
    /*background-color: #121c25;*/
   /*background-color: $instela-orange;*/
   background-color: #fd705c;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 230px;
    padding: 90px 0 30px 0;
    z-index: 1;
    margin-top: 0;
}

.page-header-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0 10px 0;
}

.page-header-nav .muted-link {
    display: block;
    margin: 0;
    /* padding: 0; */
    position: relative;
    z-index: 90;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    line-height: 1em;
    font-weight: 400;
    font-weight: 300;
    color: white;
    text-decoration:none; 
}

.page-header-nav .muted-link:hover {
    color: #ffe7e4;
}


.order-invoice  {
     z-index: 1;
    margin-top: 30px;
}

.order-invoice .invoice-target {
    display: block;
    background: #fd705c;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 4.5rem;

}

.order-invoice .invoice-meta {
    padding: 30px 30px 0px 30px;
}

.order-invoice .invoice-date-service {
    font-size: 1.8rem;
    line-height: 2.5em;
    color: #6b7781;    
}

.order-invoice .invoice-amount {
    font-size: 3.0rem;
    line-height: 2.0em;
    font-weight: 600;
}

.order-invoice .invoice-id {
    font-size: 2.5rem;
    line-height: 1.5em;
    font-weight: 500;
}


.order-invoice .invoice-center {
    text-align: center;
}

.order-invoice .invoice-right {
    text-align: right;
}

.order-invoice .invoice-left {
    text-align: left;
}


.order-invoice .invoice-address {
    padding: 0px 30px 20px 30px; 
    border-bottom: 1px solid #e8ecf0;
    font-size: 1.4rem;
}

.order-invoice .invoice-client {
    font-weight: 600;
}


.order-invoice .invoice-service-price {
    padding: 20px 30px 0px 30px;
    font-size: 1.5rem;
    line-height: 2.5em;
    font-weight: 600;
}

.order-invoice .invoice-upper {
    text-transform: uppercase;
}


.order-invoice .invoice-price {
    padding: 5px 30px 0px 30px;
    color: #6b7781;
    font-size: 1.5rem;
    line-height: 1.3em;
}

.order-invoice .invoice-total {
    padding: 10px 30px 30px 30px;
    border-bottom: 1px solid #e8ecf0;
    font-size: 2.5rem;
    line-height: 2.1em;


}


.container-small{
    display: block;
    position: relative;
    max-width: 545px;
    margin-left: auto;
    margin-right: auto;
    
}

.box {
    background: #FFF;
    border-top: 3px solid #7f98b1;
    position: relative;
}


}

</style>
</head>

<body>
  <div style="display: block; position: relative; max-width: 545px; margin-left: auto; margin-right: auto;">

    <div style="background: #FFF; border-top: 3px solid #7f98b1; position: relative; z-index: 1; margin-top: 30px; border-top: #fd705c;">
            <div style=" display: block; background: #fd705c; padding: 20px; text-align: center; position: relative; overflow: hidden; color: white; font-size: 2.0rem; width=200px;">
                        instela.co
                        <!-- <img src="/assets/instela-white-small.png" style="width: 250px;"> -->
                      
            </div>
            <br><br><br>
            <div class="invoice-meta">
              <div style="text-align: center; font-size: 1.5rem; line-height: 1.5em; font-weight: 500;">
                    Your Inovice for Order #<%= @charge.id %> is attached
                </div>
            </div>

            <div style="padding: 30px 30px 0px 30px; font-size: 1.5rem;line-height: 2.5em;">
              <div style="text-align: center;">
                    Thanks for using instela
                </div>
            </div>

            <br>
            <div style="padding: 30px 30px 0px 30px; font-size: 1.0rem; line-height: 2.5em;color: #6b7781;">
                <div style="text-align: center;">
                    Instela Ltd, 563 Chiswick High Rd, London W4 3AY
                </div>
            </div>
            
        </div>
    </div>
</body>


</html>


