

<body>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/#page-top"><i class="fa fa-1x fa-magic wow bounceIn text-primary"></i> Instela</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/#howitworks">How it works</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#services">Our services</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#examples">Examples</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



<div class="container">
    <br>
    <br>
    <br>
    <h2>Terms of Service</h2>
    <br>

    <p>These Terms and Conditions contain information about Instela, the service we provide to you and the agreement we have between us. Please read them carefully. We may change them from time to time without prior notice or reason.</p>

    <p>Instela Ltd. (hereinafter referred to as “Instela”, “we”, “us”, “our” or “ours”) is a company incorporated in England and Wales, with our registered office at 563 CHISWICK HIGH ROAD, London, W4 3AY. Instela provides mobile applications that connect Customers who have Jobs that they want completed with Providers (commonly referred to as 'Maestros') who are willing to undertake those Jobs. Collectively these Jobs are the Services, and the Services may be available through www.Instela.co, other websites and mobile applications.</p>

    <p>By using Services you are confirming you have read these Terms and Conditions (“Terms”) and agree to be bound by them when you become a registered User of the Services and for as long as you continue to make use of them. These terms govern your access to and use of the Services and constitute a legally binding agreement between you and Instela.</p>

    <p>If you do not agree to these Terms, you may not use the Website or the mobile applications.</p>

    <p>INSTELA IS AN INSTANT SERVICES MARKETPLACE THROUGH WHICH CUSTOMERS POST A JOB AND MAESTROS ARE ASSIGNED TO COMPLETE THE JOB. WHEN A JOB IS POSTED AND AT INSTELA'S DISCRETION, WE MAY PRE-AUTHORISE A PAYMENT CARD. WE ASSIGN A MAESTRO TO DO THE JOB BASED ON THEIR LOCATION AND OTHER CRITERIA. ONCE A JOB HAS BEEN COMPLETED INSTELA COLLECTS PAYMENT FROM THE CUSTOMER AND PAYS THE MAESTRO. INSTELA TAKES A COMMISSION FOR INTRODUCING THE PARTIES AND THIS COMMISSION IS TAKEN AT THE SAME TIME THE MAESTRO IS PAID. INSTELA DOES NOT ALLOW CASH TRANSACTIONS.</p>

    <p>IT IS FREE TO REGISTER WITH INSTELA. YOU MUST BE REGISTERED BEFORE YOU CAN POST A JOB AND WE WILL ASK YOU TO PROVIDE CERTAIN INFORMATION INCLUDING YOUR MOBILE NUMBER AND PAYMENT CARD OR ACCOUNT DETAILS.</p>

    <p>AS A MAESTRO YOU WILL REGISTER WITH INSTELA AS PART OF AN ON-BOARDING PROCESS, WHICH CONFIRMS THAT YOU CAN DO INSTELA JOBS.</p>

    <p>YOU UNDERSTAND AND AGREE THAT INSTELA ACTS AS AN AGENT AND IS NOT A PARTY TO AGREEMENTS ENTERED INTO BETWEEN CUSTOMERS AND MAESTROS. NO CONTRACT EXISTS BETWEEN INSTELA AND THE MAESTRO OR THE CUSTOMER FOR THE SERVICES. INSTELA IS NOT AN EMPLOYMENT OR CONTRACTING AGENCY AND HAS NO CONTROL OVER THE CONDUCT OR SUITABILITY OF CUSTOMERS AND MAESTROS TO POST OR COMPLETE THE JOBS, AND THAT THE SATISFACTORY COMPLETION OF A JOB IS SOLELY DETERMINED BETWEEN THE PARTIES. IT IS A CONDITION OF USE OF THE SERVICES THAT THE PARTIES ACKNOWLEDGE THEY HAVE COMPLETE CONTROL OVER THEIR OWN CONDUCT AND THE OUTCOME OF THE SERVICES, AND INSTELA DISCLAIMS ALL LIABILITY IN THIS REGARD.</p>

    <h3>Key Terms</h3>

    <p>“Account” means registering with Instela by providing certain mandatory and voluntary information.</p>

    <p>“Instela Content” means all content that Instela makes available through the website or mobile applications, including 3rd party content, but excluding User Content.</p>

    <p>“Business Account” means a User account in which business information, such as company registration and VAT details are provided.</p>

    <p>“Commission” means the money that is earned by Instela for introducing Customers and Maestros and payable by the Maestro after a Job has been completed.</p>

    <p>“Dispute” means a disagreement between the Customer and Maestro that a Job has been satisfactorily completed.</p>

    <p>“Expenses” means the cost of additional items that the Maestro will need to purchase and be reimbursed for by the Customer in order to complete the Job.</p>

    <p>“Holding Account” means a bank account owned and controlled by Instela for the purposes of holding money drawn from the Seeker’s bank or other account once the price for a Job has been agreed.</p>

    <p>“Job” means the work requested by the Customer.</p>

    <p>“Parties” means collectively the Customer and the Maestro.</p>

    <p>“Payment Service” means any payment Maestros.</p>

    <p>“Maestro” means a User who primarily completes Jobs that are posted by Customers.</p>

    <p>“Maestro On-Boarding” means the process of approving and training Maestros to do Instela Jobs.</p>

    <p>“Services” means the Jobs that are posted by the Customers and responded to by Maestros.</p>

    <p>“Tax” means any and all statutory deductions due as a result of the financial transaction between a Maestro and a Customer.</p>

    <p>“User” means an individual or a business that completes the Instela registration process. Such a user may be a Customer or a Maestro or both.</p>

    <p>“User Content” means information that a User provides about themselves, their profile or the details of a Job.</p>

    <p>These Key Terms will have the same meaning if they appear in the singular, plural, masculine or feminine or as the context requires.</p>

    <h3>Eligibility and Responsibility</h3>

    <p>You must be 18 years old or older to use the Instela mobile apps to Post or respond to Jobs, and we may ask for proof of age before you can register. We reserve the right to refuse to provide the Services to any individual, business or other entity at any time without explanation. Whilst Instela takes reasonable care in screening Maestros, you are solely responsible for taking appropriate safety precautions in connection with your use of the Services.</p>

    <h3>Use of the Services</h3>

    <p>As a User of the Services you agree to the following:</p>

    <p>To register and create an account for your personal or business use only. You may not authorise others to use your account and you may not assign or transfer your account to any other person or entity. You may register only one account. You are responsible for keeping any registration details confidential including your password. You acknowledge that Instela is not responsible for any third party access to your account and the consequences thereof, howsoever caused.</p>
    <p>The mobile apps are intended to be used in the United Kingdom only and there may be further geographical limitations for use of the Services within the UK as amended from time to time. As a Customer you may Post Jobs that are to be completed within the United Kingdom only.</p>
    <p>You are responsible and assume liability for all information and User Content that you add to the mobile apps. Details of how Instela may use any information and content are provided in the Privacy Policy.</p>
    <p>You assume all risk when using the Services, including, but not limited to, any risks associated with interacting with other people. You acknowledge that Instela is not able to guarantee the accuracy of information provided to you by other people and that you should confirm such information to your own satisfaction before you engage with them.</p>
    <p>Instela will assign a Posted Job to a Maestro who we consider best able to do the Job. The Maestro may accept or reject the Job. We do not guarantee that a Customer will receive a response to a posted Job or that responses meet the requirements a Customer has specified. Nor do we guarantee to Maestros that they will be offered Jobs.</p>
    <p>Instela reserves the right, but is not under any obligation, to monitor information that is submitted to the mobile apps and to remove such information or material that in our sole opinion violates any applicable law, either the letter or spirit of this Agreement, or upon the request of a third party.
    You will not use the Services, or engage in any activity on the Instela website and/or mobile applications, in any way that:</p>
    <li>Violates any local, national or other laws or regulations or any order of a court of relevant jurisdiction;</li>
    <li>Uses any software, devices, scripts, robots or other means to access, scrape, crawl or spider any web pages or other of the Services;</li>
    <li>Uses the Instela website and/or mobile applications for any commercial or other purposes that are not permitted in these Terms;</li>
    <li>Infringes the rights of any person or entity, including their intellectual property, copyright, privacy or contractual rights;</li>
    <li>Distributes unsolicited material or advertisements;</li>
    <li>Is intended to harass, annoy, threaten or intimate any other Users;</li>
    <li>Promotes racism, bigotry, hatred or physical harm of any kind;</li>
    <li>Is defamatory, inaccurate, abusive, obscene, profane, offensive, sexually explicit or otherwise </li>objectionable;</li>
    <li>Contains video, audio, photographs or images of another person without their permission (or in the case of a minor, the permission of the minor’s legal guardian);</li>
    <li>Promotes or enables illegal or unlawful activities;</li>
    <li>Is intended to deceive, defraud or swindle other Users of the Services;</li>
    <li>Is intended to damage or interfere with the operation of the Services, including but not limited to the introduction of viruses, time-bombs, Trojan horses, cancelbots, worms, or other harmful or disruptive codes, components or devices;</li>
    <li>Promotes, supports or solicits involvement in a political platform, religion, cult or sect;</li>
    <li>Is in any way used in connection with spamming, spimming, phishing, trolling or any similar activities.</li>

    <h3>Account and Registration</h3>

    <p>In order to Post a Job or be assigned a Job that has been posted you must register and create an Account with Instela. This is done directly with the Instela mobile app. The Customer app is available for free download from the Apple and other app stores. The Maestro app is distributed at our sole discretion during Maestro On-Boarding.</p>

    <p>It is possible to register with Instela using login information with other third party social networking sites including, but not limited to Facebook. If you use Facebook or other third party social networking sites you warrant that you are entitled to disclose to Instela your third party login information without breach of the terms and conditions of the third party site. By granting Instela access to your third party account you acknowledge that Instela will access certain information and may store and use this information.</p>

    <p>When you create an Account with Instela we ask you to provide information about yourself, including payment information. You warrant that the information you provide is true, that it relates to you and is entirely accurate. We may, at our sole discretion, take steps to validate any identification, payment or other information you provide to Instela. We may use third party agencies to undertake this validation, and in accepting these Terms you accept Instela may take such steps to confirm your identity and other details you provide. We may reject the creation of an Account at our absolute discretion.</p>

    <p>When you register as a Instela Maestro we will ask you for more information, which may include ID, proof of address, social security number and right to work in the UK. We may ask you for evidence that you hold public liability insurance. We also ask for your bank account details. It is a condition of registering with Instela as a Maestro that you hold a UK bank or building society account into which payments from Instela will be made.</p>

    <p>It is a condition of the use of Instela that you provide us with your mobile phone number.</p>



    <h3>Self Employment</h3>

    <p>Instela Maestros are self employed and are solely responsible for the quality and outcome of the work they do. Instela acts as an agent to introduce the Parties and disclaims any liability in the Services that are provided. As a Instela Maestro you are responsible for your own Tax affairs.</p>

    <h3>Trust</h3>

    <p>Instela takes reasonable steps to On-Board Maestros who are experienced in the Services they provide. We check ID, proof of address and right to work and take reasonable steps to determine experience, which may include reference checking. The Parties may review each other at the end of a Job and these reviews may be available to provide assurance. Instela does not accept liability on the suitability of the Maestro to do Jobs or the quality of the outcome and the Parties must determine for themselves if they want to engage.</p>

    <h3>Doing Jobs</h3>

    <p>As a Instela Customer you can create a Job. The Job will include a description, location and a price that is predetermined by Instela, either per hour or per job. You may also upload photographs relating to the Job and in so doing you agree not to submit photographs that are likely to offend.</p>

    <p>Instela will assign a Maestro to the Job and the Maestro will normally be available within one hour. We provide an estimate of the arrival time at the time of Posting the job; this time is indicative and may vary.</p>

    <h3>Cancellation Policy</h3>

    <p>You may cancel a Job anytime, after the given period displayed on the applications or website the minimum fee will be charged, if cancelled within grace period displayed no fee will be due. If our professionals arrive at the job location and are unable to contact you or gain access to the job location they will message and attempt to contact you for 10 mins, after which you will be charged the minimum fee and the job will be cancelled.</p>

    <h3>Card Pre-Authorisation</h3>

    <p>When a Customer Posts a Job we may pre-authorise payment of a minimum of the first hour of the Job on the payment card added to the app. A Job will only be Posted when the pre-authorisation is successfully received. This pre-authorisation will be released if the Job is cancelled or at the time of final payment.</p>

    <p>We reserve the right to take the pre-authorisation amount in the event the payment for a job is not fully collected and you accept our right to do this.</p>

    <h3>Maestro – Responding to Jobs</h3>

    <p>As a Instela Maestro you will be assigned Jobs that have been Posted by Customers when you are online and available for work. You must accept or reject a Job within 5 minutes or the Job may be assigned to another Maestro.</p>

    <p>If you continually reject Jobs after going online we may cancel your registration.</p>

    <p>You warrant that in accepting a Job you will complete the Job as specified, to the standards and timescales agreed with the Customer.</p>

    <h3>Pricing</h3>

    <p>A Job is Posted at a pre-determined price, which may be per hour or per Job. The price includes Instela’s commission, which is a percentage of the price of the Job and may vary from time to time at Instela’s sole discretion. For Jobs that have a per hour price the first hour will be charged in full regardless of the time spent by the Maestro in doing the Job. Subsequent hours after the first hour will be charged per minute. Instela reserves the right to change prices at any time.</p>

    <h3>Expenses</h3>

    <p>If during a Job a Maestro incurs additional expenses directly relating to a Job, for example a handyman purchasing an item to complete a plumbing job, the Maestro will ask the Customer to pay for such expenses in cash on the production of a valid receipt. This policy however does not apply to cleaning products. Maestros are expected to supply all their cleaning products. Customers however are expected to supply the cleaning Maestros with a mop and vacuum cleaner.</p>

    <h3>Payment</h3>

    <p>When a Job is completed Instela calculates the final amount to be paid, including applicable discounts. The Customer may release payment or Instela may take payment.</p>

    <p>The Customer agrees to hold sufficient funds in their account to pay the final amount as it becomes due and will not Post a Job unless they can pay for it. We may, at our sole discretion, not allow a Customer to Post a Job if we are outstanding the payment for a prior Job.</p>

    <p>Instela does not accept cash payments. All Jobs are Posted using a valid payment card and final payment is taken from the card once the Job is completed. Instela reserves the right not to accept certain payment cards including, but not limited to, pre-payment cards.</p>

    <p>Instela Maestros are paid up to 4 working days after the Customer has paid for the Job, direct into a nominated bank account.</p>

    <h3>Tax</h3>

    <p>As a Maestro, you agree that you are responsible for your own accounting and tax affairs and that you will hold Instela entirely harmless from any claims from HMRC or any other statutory body.</p>

    <h3>Payment Services</h3>

    <p>Instela may use Payment Services at our complete discretion to facilitate payment card processing. Instela will ensure that the Payment Services comply with such financial and other relevant regulations but will not be responsible for the performance of the Payment Services.</p>

    <p>Instela does not directly hold payment card information.</p>

    <p>Instela will be responsible for paying the fees charged by the Payment Services.</p>

    <h3>Disputes and Dispute Resolution</h3>

    <p>If the Customer is not satisfied that the Maestro has completed the Job to the performance and/or quality the Customer may reasonably expect, the Parties may enter into a Dispute. The Parties may also enter into a Dispute if the Maestro is not satisfied the Customer has correctly described the Job to be done. The parties may only enter a Dispute within 14 days of the Job completion date. In the event of a Dispute the Parties hereby agree to negotiate a settlement in good faith and hereby recognise that the responsibility for reaching a mutually agreed settlement lies between them.</p>

    <p>If the Parties cannot reach resolution between themselves it will be escalated to Instela and we will offer a recommendation for settlement of the Dispute. Instela will request information to be provided by both Maestro and Customer and you agree to provide information that may be reasonably available to support Instela in proposing a resolution. The Parties are under no obligation to accept any recommendation from Instela, which is not binding.</p>

    <p>In its decision Instela may impose a solution on the Parties, which may include a solution for final payment. In so doing the Parties accept that Instela may impose such a solution. Should either Party decide to take further action beyond Instela’s final decision Instela will provide information to a court or other body of competent jurisdiction and will absorb reasonable expenses in so doing. In no event will Instela incur costs higher than the original agreed price of the Job.</p>

    <p>Instela reserves the right, at our sole discretion, to terminate the account of a User who it deems is entering into an excessive number of Disputes.</p>

    <h3>Loss or Damage</h3>

    <p>If the Customer suffers loss or damage to their property and attributes the loss or damage to a Maestro, in the first instance the Parties should try to resolve between themselves, which Instela may facilitate. Instela will initiate a claims procedure if the loss or damage is reported to us and may take further action including reporting the matter to the police.</p>

    <p>The absolute limit on any damage claim that we accept on behalf of the Maestro is £50.</p>

    <h3>Recommendations and Reviews</h3>

    <p>Customers and Maestros are encouraged to offer reviews for each other each time a Job is completed. You agree to provide a prompt review that is true and fully reflects your experience with the Customer or Maestro with who you have engaged.</p>

    <p>Instela reserves the right to terminate the Accounts of Users who repeatedly receive poor reviews.</p>


    <h3>Warranty</h3>

    <p>Instela Maestros warranty the Jobs they do for seven days. Instela offers no additional warranty.</p>

    <h3>Private Engagement</h3>

    <p>Instela Maestros are assigned to Jobs on the basis of availability and location. A Customer may not be assigned the same Maestro each time they Post a Job.</p>

    <p>As a Customer you agree not to privately offer jobs to Maestros you have previously engaged with through Instela. As a Maestro you agree not to accept or solicit for jobs that are offered to you by Customers you have previously worked for through Instela.</p>

    <p>Instela reserves the right to terminate the Accounts of Users who enter into private engagements.</p>

    <h3>Cancellation of Your Instela Account</h3>

    <p>You may cancel your Instela account at any time by giving us notice at help@instela.co. Unless otherwise stated herein, all Instela Services will be cancelled within seven (7) days of receipt of notice from you.</p>

    <h3>Reporting Misconduct</h3>

    <p>If you engage with another User who you feel has acted in an inappropriate way towards you, including but not limited to offensive, violent or sexually inappropriate behaviour you should immediately make a report to the appropriate authorities and then to Instela at help@instela.co quoting the filing report number and location. Your report may cause us to investigate such behaviour but we are not obligated to take action beyond that which is required by law, and we will not incur any additional liability or expense.</p>

    <!-- <h3>Your Confidential Information</h3>
    <p>Instela Ltd. is registered under the data protection act (with registration number Z3489112) and we respect the confidentiality of the information you give us. We never pass on any information about our Users to third party organisations, unless we are compelled to do so by law.</p>
 -->
    <h3>Trademarks and Copyright</h3>

    <p>The Instela logo, shield etc. are registered trademarks of Instela Ltd. Instela respects trademark and copyright law and we expect our Users to do the same.</p>

    <h3>General Conditions</h3>

    <p>Any notice to be given by the User under these Terms may be delivered by email to help@instela.co or by post to Instela’s registered office.</p>

    <br>
    <br>
</div>

<%= render 'creatives/footer' %>

</body>
</html>
