<div id="contact">
    <div class="container text-center">
        <div class="call-to-action">
        		<script type="text/javascript" charset="utf-8">
              var openNSLauncher = function() {
              var launcher = document.querySelector('.nudgespot-launcher');
              launcher.click();
              };
            </script>
            <h2 class="section-heading">How May We Help?</h2>
            <hr class="primary">
            <p>Instela is currently available all across London.</p>
            <p>Send us a message to get started</p>
            <%= link_to 'GET INSTANT HELP', '#', class: "btn btn-primary btn-xl page-scroll ", onclick:"event.preventDefault();openNSLauncher();"  %>
        </div>
    </div>
</div>
<br>
