<footer class="footer">
    <div class="container-fluid text-center">
      Instela is a service provided by Instela Ltd, located in London, UK.<br><br>
      <a href="mailto:hello@instela.co" style="font-size:10pt;color:#555">Contact Us</a>
      <span style="font-size:10pt;color:#555">|</span>
      <a href="mailto:support@instela.co" style="font-size:10pt;color:#555">Support </a>
      <span style="font-size:10pt;color:#555">|</span>
      <a href="/pages/terms" style="font-size:10pt;color:#555">Terms of Use</a>
      <span style="font-size:10pt;color:#555">|</span>
      <a href="/pages/privacy" style="font-size:10pt;color:#555">Privacy Policy</a>
    </div>
</footer>
