<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source of Free Bootstrap Themes</h1>
            <hr>
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <%= form_tag accounts_path, method: :post do %>
			        <%= text_field_tag :mobile_phone, nil, placeholder: 'Mobile Phone Number' %>
			        <script 
			          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="pk_test_odiB2gb7RPRukTHJOG2XPV1s"
			          data-label="Register with Us"
			          data-panel-label="Register"
			          data-name="Pronto Associates Ltd"
			          data-description="2 widgets"
			          data-allow-remember-me="false"
			          data-locale="auto">

			        </script>
			      <% end %>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

