<header id="page-top" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.45);">
    <!-- <div class="header-content"> -->
        <div class"container-fluid">
            <div class="header-content-inner">
                <section id="video-block" class="fullscreen">
                    <!-- Adjust video height and width -->
                    <script>
                        var w = $(window).width(), h = $(window).height()
                        $('#video-block video').css({height: ''+h+'',width: ''+w+''})
                        $(window).resize(function(){
                        var w = $(window).width(), h = $(window).height()
                        $('#video-block video').css({height: ''+h+'',width: ''+w+''})
                        })
                    </script>
                    <!-- Embed Video as Background-->
                    <div style="width:initial;" >
                        <%= video_tag("office_video.mp4", :controls => false, :autobuffer => true, :autoplay => true, :loop => true, :id => "video-background") %>
                    </div>
                    <div class="container-fluid key_text">
                        <div class="container-fluid">
                            <!-- <div class="row"> -->
                                <!-- <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1"> -->
                                    <h2>Make Everything Work in Your Office</h2>
                                    <h1 style="color: #f05f40;"><a style="text-decoration: none;" href="sms:07454574821">07 45 45 74 821</a></h1>
                                    <br>
                                    <h4>Send an SMS to this number to get started</h4>
                                    <h4>Available on-demand during weekdays from 8AM until 8PM</h4>
                                    <hr>
                                    <%= link_to 'REGISTER MY DETAILS', new_account_path, class: "btn btn-primary btn-xl page-scroll" %>
                                <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </section>

            </div>
        </div>
    <!-- </div> -->
</header>




