<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>ORDER BY TEXT - FROM 8AM UNTIL MIDNIGHT 7/7</h2>
            <p></p>
            <h1 style="color: #f05f40;">12345678</h1>
            <h4>Send an SMS to this number to get started</h4>
            <hr>
<!--             <%= form_tag accounts_path, method: :post, class: 'navbar-form' do %>
			        <%= text_field_tag :mobile_phone, nil, placeholder: 'Mobile Phone Number', class: 'form-control'  %>
			        <br><br>
			        <script
			          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			          data-key="pk_test_odiB2gb7RPRukTHJOG2XPV1s"
			          data-label="Register with Us"
			          data-panel-label="Create An Account"
			          data-name="Instant Order"
			          data-allow-remember-me="false"
			          data-locale="auto">
			        </script>
			      <% end %> -->
            <%= link_to 'REGISTER MY DETAILS', new_account_path, class: "btn btn-primary btn-xl page-scroll" %>
        </div>
    </div>
</header>

